<!DOCTYPE html>
<html>
<head>
    <title>FAQsPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">
</head>

<body>
    <a id="TweetCleanImage" href="{% url 'GUI:Search' %}">
        <img src="/static/GUI/images/TweetClean.png" alt="TweetClean" class="responsive">
    </a>
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <div class="container">
        <div class="dropdown">
            <span>Q: How do I see frequently asked questions?</span>
            <div class="dropdown-content">
                <p><em>A: Click the FAQs link on the navbar.</em></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="dropdown">
            <span>Q: How do I navigate this site?</span>
            <div class="dropdown-content">
                <p><em>A: Click the manuals link on the navbar.</em></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="dropdown">
          <span>Q: What is this sites purpose?</span>
          <div class="dropdown-content">
              <p><em>A: This site provides users with the ability to analyse how popular 2 search terms are across Twitter.</em></p>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="dropdown">
            <span>Q: How do I see frequently asked questions?</span>
            <div class="dropdown-content">
                <p><em>A: Click the FAQs link on the navbar.</em></p>
            </div>
        </div>
    </div>
    <div class="navbar" id="myNavbar">
        <a href="{% url 'GUI:FAQs' %}">FAQs</a>
        <a href="{% url 'GUI:Manual' %}">Manual</a>
        <a href="{% url 'GUI:Search' %}">Search</a>
    </div>
</body>
</html>