<!DOCTYPE html>
<html>
<head>
    <title>ManualsPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">
</head>

<body>
    <a id="TweetCleanImage" href="{% url 'GUI:Search' %}">
        <img src="/static/GUI/images/TweetClean.png" alt="TweetClean" class="responsive">
    </a>
    <h1>Click the image below to download the user manual</h1>
    <div class="container">
        <a href="{% url 'GUI:download_file' filename='TweetCleanManual.pdf' %}">
        <img src="/static/GUI/images/manual_icon.png" alt="ManualTest">
        </a>
    </div>
    <div class="navbar" id="myNavbar">
        <a href="{% url 'GUI:FAQs' %}">FAQs</a>
        <a href="{% url 'GUI:Manual' %}">Manual</a>
        <a href="{% url 'GUI:Search' %}">Search</a>
    </div>
</body>
</html>