<!DOCTYPE html>
<html>
<head>
    <title>ResultsPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">
</head>

<body>
    <a id="TweetCleanImage" href="{% url 'GUI:Search' %}">
        <img src="/static/GUI/images/TweetClean.png" alt="TweetClean" class="responsive">
    </a>
    <h1>RESULTS</h1>
    <p>We found [number] tweets containing your name...</p>
    <p>{{SearchTerm}}</p> <!-- this variable comes from the Search view and contains relevant data for display -->
    <div class="navbar" id="myNavbar">
        <a href="{% url 'GUI:FAQs' %}">FAQs</a>
        <a href="{% url 'GUI:Manual' %}">Manual</a>
        <a href="{% url 'GUI:Search' %}">Search</a>
    </div>

    <div id='piechart' align='center'></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Sentiment', 'Number of Tweets'],
      ['Positive', {{PositiveSearchResults}}],
      ['Negative', {{NegativeSearchResults}}],
      ['Neutral', {{NeutralSearchResults}}],
    ]);
        var options = {'width':550, 'height':400, legend: {alignment: 'center', position: 'top'}};
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    </script>
    <div class="container">
        <button class="button" onclick="history.back()"><span>Go Back</span></button>
    </div>
</body>
</html> 