<!DOCTYPE html>
<html>
<head>
    <title>ResultsPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">
</head>

<body>
    <a id="TweetCleanImage" href="{% url 'GUI:Search' %}">
        <img src="/static/GUI/images/TweetClean.png" alt="TweetClean" class="responsive">
    </a>
    <h1>RESULTS</h1>
    <p>We found [number] tweets containing your name...</p>
    <div class="navbar" id="myNavbar">
        <a href="{% url 'GUI:FAQs' %}">FAQs</a>
        <a href="{% url 'GUI:Manual' %}">Manual</a>
        <a href="{% url 'GUI:Search' %}">Search</a>
    </div>
    <div class="container">
        <button class="button" onclick="history.back()"><span>Go Back</span></button>
    </div>
</body>
</html> 