<!DOCTYPE html>
<html>
<head>
    <title>SearchPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">
</head>

<body>
    <a id="TweetCleanLogo" href="{% url 'GUI:Search' %}">
        <img src="/static/GUI/images/TweetClean.png" alt="TweetClean" class="responsive">
    </a>
    <div class="container">
        <form>
            <!--{{form.as_p}}--> <!-- this is here if we want Django to make the form for us -->
            <label for="name">Enter Your Twitter Name Here...</label><br>
            <input type="text" id="name" name="name" value="@"><br>
            <button id = "goButton" class="button" formaction="{% url 'GUI:Results' %}"><span>Go</span></button>
        </form>
    </div>
    <div class="navbar" id="myNavbar">
        <a href="{% url 'GUI:FAQs' %}">FAQs</a>
        <a href="{% url 'GUI:Manual' %}">Manual</a>
        <a href="{% url 'GUI:Search' %}">Search</a>
    </div>
    <script>
        var input = document.getElementById("name");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("goButton").click();
            }
        });
    </script>
</body>
</html>