<!DOCTYPE html>
<html>
<head>
<title>Search Page</title>
</head>
<body>
<h1>TweetClean</h1>
<form>
    <label for="fname">Enter Your Twitter Name Here:</label><br>
    <input type="text" id="fname" name="fname" value="@"><br>
    <button formaction="{% url 'GUI:Results' %}">Go to Results</button>
  </form> 

<h1>Enter your search here</h1>
<p>Question 1.</p>
<div class="navbar" id="myNavbar">
    <a href="{% url 'GUI:Manual' %}">Manual</a>
    <a href="{% url 'GUI:FAQs' %}">FAQs</a>
</div>


</body>
</html>
</html>